@charset "ISO-8859-1";

img {
    width: 100%;
    height: auto; 
    padding: -200px;  
}

.logo{
	 width: 3em;
    height: auto;
}
    
.navbar{
	background-color: #ff0000;
	color: rgb(255,255,255);
	text-color: #ffffff;
}

#carouselExampleInterval{
	height:10em;
	
}

a.nav-link{
	color:black;	
}
a.nav-link:hover {
	color:white;
}



