<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Socios</title>


<link rel="stylesheet" type="text/css" href="/css/listar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/ff4b44e031.js"></script>
</head>
<body>

	<div th:include="navbar">&nbsp;</div>

<div class="container">
		<nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  href="/">Inicio </a></li>
      <li class="breadcrumb-item active" aria-current="page">Socios</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->
	</div>
	
	<div class="container">
		<div class="row">
			<div class="col-md-4"></div>

			<div class="col-md-4 d-flex justify-content-end align-self-start">
				<form class="form-group" method="get" th:object="${form}" th:action="@{/socio/search}">
					<label>Buscar:</label> 
					<input class="search-field" type="search" th:field="*{value}"> 
					<button class="btn" type="submit" value="search"><i class="fas fa-search"></i></button>				
				</form>
			</div>
			
			<div
				class="col-md-4 d-flex justify-content-center align-items-center">
				<a
					class="btn d-flex align-items-center align-self-center btnAgregar"
					id="btnAgregar" role="button" th:href="@{save/0}">Ingresar
					Socio&nbsp; <i class="fas fa-user-plus"></i>
				</a>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2 th:if="${list.isEmpty()}">No hay socios, agregue alguno</h2>
				<div th:if="${!list.isEmpty()}">
					<h2>Listado de socios</h2>
					<table id="example" class="table table-bordered table-hover">
						<thead>
							<tr>

								<th>Nombre</th>
								<th>Ap. Paterno</th>
								<th>Ap. Materno</th>
								<th>Email</th>
								<th>Teléfono</th>
								<th>Estado</th>
								<th>Acción</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="socio : ${list}">
								<td th:text="${socio.nombreSocio}"></td>
								<td th:text="${socio.apellidoPaterno}"></td>
								<td th:text="${socio.apellidoMaterno}"></td>
								<td th:text="${socio.emailSocio}"></td>
								<td th:text="${socio.telefonoSocio}"></td>


								<td th:if="${socio.isEstadoSocio()}" th:text="Activo"></td>
								<td th:if="${!socio.isEstadoSocio()}" th:text="Inactivo"></td>
								<td>
								<a type="button" class="btn btn-danger"
									data-toggle="modal" data-target="#exampleModalCenter"
									th:attr="data-target='#modal-warning'+${socio.idSocio}">
										<i class="far fa-trash-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i></a>
								<a type="button" class="btn btn-warning"
									th:href="@{/socio/save/{id}(id=${socio.idSocio})}"> <i
										class="fas fa-pencil-alt d-xl-flex justify-content-xl-center align-items-xl-center"></i>
								</a>
								<a type="button" class="btn btn-info"
									th:href="@{/socio/get/{id}(id=${socio.idSocio})}"> <i
										class="fas fa-eye d-xl-flex justify-content-xl-center align-items-xl-center"></i>
								</a>
								<a type="button" class="btn btn-success" 
									th:href="@{/tutor/save/{id}(id=${socio.idSocio})}">
										<i class="fas fa-user-plus d-xl-flex justify-content-xl-center align-items-xl-center"></i>
								</a>
								</td>
							</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

		<div th:each="socio : ${list}">
		<!-- Modal -->
		<div class="modal fade" th:id="modal-warning+${socio.idSocio}"
			tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
			aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="exampleModalCenterTitle">Eliminar socio</h5>
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body"
						th:text="|¿Estás seguro que deseas eliminar el socio ${socio.nombreSocio} ${socio.apellidoPaterno} ${socio.apellidoMaterno}?|">

					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-secondary"
							data-dismiss="modal">Cancelar</button>
						<a type="button"
							th:href="@{/socio/delete/{id}(id=${socio.idSocio})}"
							class="btn btn-danger">Eliminar</a>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="footer"></div>

</body>
</html>