<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Equipos</title>

<!-- Bootstrap -->

<link rel="stylesheet" type="text/css" href="/css/listar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

</head>
<body>


	<div th:insert="navbar">...</div>
	
	<div class="container">
		<nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  href="/">Inicio </a></li>
      <li class="breadcrumb-item"><a  th:href="@{/equipo/}">Equipos </a></li>
      <li class="breadcrumb-item active" aria-current="page" th:if="${equipo.getIdEquipo()==null}">Ficha Ingreso</li>
       <li class="breadcrumb-item active" aria-current="page" th:if="${equipo.getIdEquipo()!=null}">Ficha Modificación</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->
	</div>


	<div class="container">
		<h2 th:if="${equipo.getIdEquipo()==null}">Ficha ingreso nuevo equipo</h2>
		<h2 th:if="${equipo.getIdEquipo()!=null}">Ficha modificación equipo</h2>
		<form action="#" th:action="@{/equipo/save}" class="form-group"
			th:object=${equipo} method="post">

			<input type="hidden" th:field="*{idEquipo}">

			

			
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="nombreEquipo">Nombre Equipo</label> <input
						class="form-control col-md-11" type="text"
						th:field="*{nombreEquipo}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
							th:if="${#fields.hasErrors('nombreEquipo')}"
							th:errors="*{nombreEquipo}"></small>
				</div>
				<div class="form-group col-md-4">
					<label for="NombreEntrenador">Nombre Entrenador</label> <input
						class="form-control col-md-11" type="text"
						th:field="*{nombreEntrenador}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
							th:if="${#fields.hasErrors('nombreEntrenador')}"
							th:errors="*{nombreEntrenador}"></small>
				</div>

				<div class="form-group col-md-4">
					<label for="nombreEncargado">Nombre Encargado</label> <input
						class="form-control col-md-11" type="text"
						th:field="*{nombreEncargado}" th:errorclass="'form-control alert-danger'">
						<small class="form-text text-danger"
							th:if="${#fields.hasErrors('nombreEncargado')}"
							th:errors="*{nombreEncargado}"></small>
				</div>
			</div>
			
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="categoria">Categoría a la que pertenece</label> 
					<select class="custom-select" th:field="*{categoria}" th:errorclass="'form-control alert-danger'">
					<option th:if="${listCategoria.isEmpty()}" th:value=${null} th:text="|Agregue una categoría|" ></option>
					<option th:unless="${listCategoria.isEmpty()}" th:value=${null} th:text="|Elija una categoría|" ></option>
					<option th:each="categoria : ${listCategoria}" th:value="${categoria.idCategoria}" th:text="|${categoria.nombreCategoria} - ${categoria.generoCategoria} - ${categoria.deporteCategoria.nombreDeporte}|"></option>
					</select>
						<small class="form-text text-danger"
								th:if="${#fields.hasErrors('categoria')}"
								th:errors="*{categoria}"></small>
				</div>
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>


	<div th:insert="footer"></div>

</body>
</html>