<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

<title>Socios</title>

<!-- Bootstrap -->
<link href="../static/css/bootstrap.css" rel="stylesheet"
	th:href="@{/css/bootstrap.css}" />
</head>
<body>
	<div class="container">
	<h2>Agregar Socio</h2>
		<form action="#" th:action="@{/socio/save}" class="form-group" th:object=${socio} method="post">
		
			<input type="hidden" th:field="*{idSocio}">

			
			<div class="form-group">
				<label for="rutSocio" > Rut</label> 
				<input	class="form-control" type="text" th:field= "*{rutSocio}">
			</div>
			<div class="form-group">
				<label for="apellidoPaterno">Apellido Paterno</label> 
				<input class="form-control" type="text" th:field= "*{apellidoPaterno}">
			</div>
			
		
			<div class="form-group">
				<label for="telefonoSocio">Teléfono</label> 
				<input class="form-control" type="number" th:field= "*{telefonoSocio}">
			</div>

			<div class="form-group">
				<label for="nombreSocio">Nombres</label> 
				<input class="form-control" type="text" th:field= "*{nombreSocio}">
			</div>
			
			<div class="form-group">
				<label for="apellidoMaterno">Apellido Materno</label> 
				<input class="form-control" type="text" th:field= "*{apellidoMaterno}">
			</div>
			<div class="form-group" >
				<label for="fechaNacimientoSocio">Fecha Nacimiento</label> 
				<input class="form-control" type="date" th:field= "*{fechaNacimientoSocio}">
			</div>
			<div class="form-group">
				<label for="emailSocio">Email</label> 
				<input class="form-control" type="email" th:field= "*{emailSocio}">
			</div>
			<div class="form-group">
				<label for="emailSocio">Dirección</label> 
				<input class="form-control" type="text" th:field= "*{direccionSocio}">
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>

</body>
</html>