<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Categorias</title>

<!-- Bootstrap -->

<link rel="stylesheet" type="text/css" href="/css/listar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

</head>
<body>


	<div th:insert="navbar">...</div>


	<div class="container">
		<h2>Ficha ingreso nueva categoría</h2>
		<form action="#" th:action="@{/categoria/save}" class="form-group"
			th:object=${categoria} method="post">

			<input type="hidden" th:field="*{idCategoria}">
			<!-- 
			<input type="hidden" th:field="*{sociosCategoria}" th:value="${null}">
			 
			<input type="hidden" th:field="*{equiposCategoria}" th:value="${null}">
			 -->
			 
			

			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="nombreCategoria"> Nombre</label> <input
						class="form-control col-md-11" type="text" th:field="*{nombreCategoria}">
				</div>
				<div class="form-group col-md-7">
					<label for="descripcionCategoria">Descripción</label> <input
						class="form-control col-md-11" type="text"
						th:field="*{descripcionCategoria}">
				</div>

			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="generoCategoria">Género</label>  
						<select class="custom-select" th:field="*{generoCategoria}">
						<option th:value="Femenino" th:text="Femenino"></option>
						<option th:value="Masculino" th:text="Masculino"></option>
					
						
					</select>
				</div>

				<div class="form-group col-md-6">
					<label for="edadMax">Edad Máxima Permitida</label> <input
						class="form-control" type="number" th:field="*{edadMax}">
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="deporteCategoria">Deporte al que pertenece</label> 
					<select class="custom-select" th:field="*{deporteCategoria}">
					<option th:each="deporte : ${listDeporte}" th:value="${deporte.idDeporte}" th:text="${deporte.nombreDeporte}"></option>
					
					</select>
				</div>
			</div>
	
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>


	<div th:insert="footer"></div>

</body>
</html>