<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Cuotas</title>

<!-- Bootstrap -->

<link rel="stylesheet" type="text/css" href="/css/listar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

</head>
<body>


	<div th:insert="navbar">...</div>

<div class="container">
		<nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  href="/">Inicio </a></li>
      <li class="breadcrumb-item"><a  th:href="@{/cuota/}">Cuotas </a></li>
      <li class="breadcrumb-item active" aria-current="page" th:if="${cuota.getIdCuota()==null}" >Ficha Ingreso</li>
      <li class="breadcrumb-item active" aria-current="page" th:if="${cuota.getIdCuota()!=null}">Ficha Modificación</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->
	</div>

	<div class="container">
		<h2 th:if="${cuota.getIdCuota()==null}">Ficha ingreso nueva cuota</h2>
		<h2 th:if="${cuota.getIdCuota()!=null}">Ficha modificación cuota</h2>
		<form action="#" th:action="@{/cuota/save}" class="form-group"
			th:object=${cuota} method="post">

			<input type="hidden" th:field="*{idCuota}">
			<!-- 
			<input type="hidden" th:field="*{sociosCuota}" th:value="${null}">
			 
			<input type="hidden" th:field="*{equiposCategoria}" th:value="${null}">
			 -->
			 
			

			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="fechaDeCuota">Fecha de pago</label> <input
						class="form-control" type="date"
						th:field="*{fechaDePago}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
						   th:if="${#fields.hasErrors('fechaDePago')}"
						   th:errors="*{fechaDePago}"></small>
				</div>
				
				
				<div class="form-group col-md-7">
					<label for="montoCuota"> Monto </label> <input
						class="form-control" type="number" th:field="*{montoCuota}"
						th:errorclass="'form-control alert-danger'"> <small
						class="form-text text-danger"
						th:if="${#fields.hasErrors('montoCuota')}"
						th:errors="*{montoCuota}"></small>
				</div>
				

			</div>

			
			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="socio">Socio al que pertenece</label> 
					<select class="custom-select" th:field="*{socioCuota}" th:errorclass="'form-control alert-danger'">
					<option th:if="${listSocio.isEmpty()}" th:value=${null} th:text="|Agregue un socio|" ></option>
					<option th:unless="${listSocio.isEmpty()}" th:value=${null} th:text="|Elija un socio|" ></option>
					<option th:each="socio : ${listSocio}" th:value="${socio.idSocio}" 
					th:text="|${socio.nombreSocio} ${socio.apellidoPaterno} - ${socio.rutSocio}"></option>
					</select>
						<small class="form-text text-danger"
								th:if="${#fields.hasErrors('socioCuota')}"
								th:errors="*{socioCuota}"></small>
				</div>
			</div>
			
	
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>


	<div th:insert="footer"></div>

</body>
</html>