<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Categorias</title>

<!-- Bootstrap -->

<link rel="stylesheet" type="text/css" href="/css/listar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

</head>
<body>


	<div th:insert="navbar">...</div>

	<div class="container">
		<h2 th:if="${categoria==null || categoria.getIdCategoria()==null}">Ficha ingreso nueva categoría</h2>
		<h2 th:if="${categoria!=null && categoria.getIdCategoria()!=null}">Ficha modificación categoría</h2>
		<form action="#" th:action="@{/categoria/save}" class="form-group"
			th:object=${categoria} method="post">

			<input type="hidden" th:field="*{idCategoria}">
			
			<input type="hidden" th:field="*{estadoCategoria}" th:value="${true}"}>
			
			<input type="hidden" th:field="*{sociosCategoria}" th:value="${null}">
			 
			<input type="hidden" th:field="*{equiposCategoria}" th:value="${null}">
			
			<div class="form-row">
				<div class="form-group col-md-5">
					<label for="nombreCategoria"> Nombre</label> <input
						class="form-control col-md-11" type="text" th:field="*{nombreCategoria}" th:errorclass="'form-control alert-danger'">
						<small class="form-text text-danger"
								th:if="${#fields.hasErrors('nombreCategoria')}"
								th:errors="*{nombreCategoria}"></small>
				</div>
				<div class="form-group col-md-7">
					<label for="descripcionCategoria">Descripción</label> <input
						class="form-control col-md-11" type="text"
						th:field="*{descripcionCategoria}"th:errorclass="'form-control alert-danger'">
						<small class="form-text text-danger"
								th:if="${#fields.hasErrors('descripcionCategoria')}"
								th:errors="*{descripcionCategoria}"></small>
				</div>

			</div>

			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="generoCategoria">Género</label>  

					<select class="custom-select" th:field="*{generoCategoria}" th:errorclass="'form-control alert-danger'">
						<option th:value="${null}" th:text="|Elegir género|"></option>
						<option th:value="Femenino" th:text="Femenino"></option>
						<option th:value="Masculino" th:text="Masculino"></option>
					</select>
					<small class="form-text text-danger"
								th:if="${#fields.hasErrors('generoCategoria')}"
								th:errors="*{generoCategoria}"></small>
				</div>

				<div class="form-group col-md-6">
					<label for="edadMax">Edad Máxima Permitida</label> <input
						class="form-control" type="number" th:field="*{edadMax}" th:errorclass="'form-control alert-danger'">
						<small class="form-text text-danger"
								th:if="${#fields.hasErrors('edadMax')}"
								th:errors="*{edadMax}"></small>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-6">
					<label for="deporteCategoria">Deporte al que pertenece</label> 
					<select class="custom-select" th:field="*{deporteCategoria}" th:errorclass="'form-control alert-danger'">
					<option th:if="${listDeporte.isEmpty()}" th:value=${null} th:text="|Agregue un deporte|" ></option>
					<option th:unless="${listDeporte.isEmpty()}" th:value="${null}" th:text="|Elegir deporte|"></option>
					<option th:each="deporte : ${listDeporte}" th:value="${deporte.idDeporte}" th:text="${deporte.nombreDeporte}"></option>
					</select>
					<small class="form-text text-danger"
								th:if="${#fields.hasErrors('deporteCategoria')}"
								th:errors="*{deporteCategoria}"></small>
				</div>
			</div>
	
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>


	<div th:insert="footer"></div>

</body>
</html>