<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Socios</title>

<!-- Bootstrap -->

<link rel="stylesheet" type="text/css" th:href="@{/css/listar.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>

</head>
<body>


	<div th:insert="navbar">...</div>
	<div class="container">
		<nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  href="/">Inicio </a></li>
      <li class="breadcrumb-item"><a  th:href="@{/socio/}">Socios </a></li>
      <li class="breadcrumb-item active" aria-current="page" th:if="${socio.getIdSocio()==null}">Ficha Ingreso</li>
       <li class="breadcrumb-item active" aria-current="page" th:if="${socio.getIdSocio()!=null}">Ficha Modificación</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->
	</div>
	

	<div class="container">
		<h2 th:if="${socio.getIdSocio()==null}">Ficha ingreso nuevo socio</h2>
		<h2 th:if="${socio.getIdSocio()!=null}">Ficha modificación socio</h2>
		<form action="#" th:action="@{/socio/save}" class="form-group"
			th:object=${socio} method="post">

			<input type="hidden" th:field="*{idSocio}">

			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="nombreSocio">Nombres</label> <input
						class="form-control" type="text" 
						th:field="*{nombreSocio}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
						   th:if="${#fields.hasErrors('nombreSocio')}"
						   th:errors="*{nombreSocio}"></small>
				</div>
				<div class="form-group col-md-4">
					<label for="apellidoPaterno">Apellido Paterno</label> <input
						class="form-control" type="text" 
						th:field="*{apellidoPaterno}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
						   th:if="${#fields.hasErrors('apellidoPaterno')}"
						   th:errors="*{apellidoPaterno}"></small>
				</div>

				<div class="form-group col-md-4">
					<label for="apellidoMaterno">Apellido Materno</label> <input
						class="form-control" type="text" 
						th:field="*{apellidoMaterno}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
						   th:if="${#fields.hasErrors('apellidoMaterno')}"
						   th:errors="*{apellidoMaterno}"></small>
				</div>
			</div>
			<div class="form-row">
				<div class="form-group col-md-3">
					<label for="rutSocio"> Rut</label> <input class="form-control" placeholder="11111111-1"
						type="text" th:field="*{rutSocio}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
								th:if="${#fields.hasErrors('rutSocio')}"
								th:errors="*{rutSocio}"></small>
				</div>

				<div class="form-group col-md-3">
					<label for="generoSocio">Género</label>
					 <select class="custom-select form-control" th:field="*{generoSocio}" th:errorclass="'form-control alert-danger'">
						<option value="${null}" th:text="|Elija una opción|"></option>
						<option value="Femenino" th:text="Femenino"></option>
						<option value="Masculino" th:text="Masculino"></option>
						<option value="Otro" th:text="Otro"></option>
					</select>
					<small class="form-text text-danger"
								th:if="${#fields.hasErrors('generoSocio')}"
								th:errors="*{generoSocio}"></small>
				</div>

				<div class="form-group col-md-3">
					<label for="telefonoSocio">Teléfono</label> <input
						class="form-control" type="number" 
						th:field="*{telefonoSocio}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
						   th:if="${#fields.hasErrors('telefonoSocio')}"
						   th:errors="*{telefonoSocio}"></small>
				</div>

				<div class="form-group col-md-3">
					<label for="fechaNacimientoSocio">Fecha Nacimiento</label> <input
						class="form-control" type="date"
						th:field="*{fechaNacimientoSocio}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
						   th:if="${#fields.hasErrors('fechaNacimientoSocio')}"
						   th:errors="*{fechaNacimientoSocio}"></small>
				</div>
			</div>

			<div class="form-row">

				<div class="form-group col-md-4">
					<label for="emailSocio">Dirección</label> <input
						class="form-control" type="text" 
						th:field="*{direccionSocio}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
						   th:if="${#fields.hasErrors('direccionSocio')}"
						   th:errors="*{direccionSocio}"></small>
				</div>

				<div class="form-group col-md-3">
					<label for="emailSocio">Email</label> <input class="form-control"
						type="text" th:field="*{emailSocio}" th:errorclass="'form-control alert-danger'">
					<small class="form-text text-danger"
							th:if="${#fields.hasErrors('emailSocio')}"
							th:errors="*{emailSocio}"></small>
				</div>
				
				<div class="form-group col-md-1">
						<label for="estadoSocio">Miembro Activo</label> <input
							class="form-control checkbox" type="checkbox"  th:checked=${true}
							th:field="*{estadoSocio}">
					</div>
				
				<!-- FALTA AGREGAR LA CONDICION PARA QUE EL BOTÓN APAREZCA CUANDO SEA MENOR DE EDAD por ahora aparece cuando edita-->
				<div th:if="${socio.getIdSocio()!=null}" class="col-md-4  d-flex justify-content-center align-items-right">
					
					<div class="form-group col-md-9">
						<label>Agregar tutor</label> <select class="custom-select" th:field="*{tutor}">
							<option th:value="${null}" th:text="|Sin Tutor|" th:selected>
							<option th:each="tutor : ${listTutor}"
								th:value="${tutor.idTutor}"
								th:text="|${tutor.nombreTutor} ${tutor.apellidoPaternoTutor} - ${tutor.rutTutor}|"></option>
						</select>
					</div>
					
					<div class="col-md-3  d-flex justify-content-center align-items-right">
						<a class="btn btnAgregar align-self-center" id="btnAgregar"
							role="button" th:href="@{/tutor/save/{id}(id=${socio.idSocio})}">&nbsp;
							<i class="fas fa-user-plus"></i>
						</a>
					</div>
				</div>





			</div>
			<div class="form-row">
				<div class="form-group col-md-4">
					<label for="socioCategoria">Agregar a Categoría</label> <select
						class="custom-select" multiple="multiple" size="3"
						th:field="*{categorias}">
						<option th:value="${null}" th:text="|Sin categoría|" th:selected>
						<option th:each="categoria : ${listCategorias}"
							th:value="${categoria.idCategoria}"
							th:text="|${categoria.nombreCategoria} - ${categoria.deporteCategoria.nombreDeporte}|	"></option>
					</select>
				</div>
			</div>
			<button type="submit" class="btn btn-success">Guardar</button>
		</form>
	</div>


	<div th:insert="footer"></div>

</body>
</html>