<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Ver Cuotas</title>

<!-- Bootstrap -->

<link rel="stylesheet" type="text/css" href="/css/listar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

</head>
<body>

	<div th:insert="navbar">...</div>
	
	<div class="container">
	
		<div class="row">
			<div class="col-md-12">
				<h2
					th:if="${cuotaBuscado == null || cuotaBuscado.idCuota==0}">No
					se pudieron obtener los datos de las cuotas </h2>
				<div
					th:if="${cuotaBuscado!=null && cuotaBuscado.idCuota !=0}"
					class="container">
					<h2>Ver Cuotas</h2>
					<table id="example" class="table table-hover">
						<thead>
							<tr>
								<th>Atributo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<th>Fecha de Pago</th>
								<td th:text="${#dates.format(cuotaBuscado.fechaDePago,'dd-MM-yyyy')}" ></td>
							</tr>
							<tr>
								<th>Monto(s)</th>
								<td th:text="${cuotaBuscado.montoCuota}"></td>
							</tr>
							<tr>
								<th>Nombre socio</th>
								<td th:text="${cuotaBuscado.socioCuota.getNombreSocio()}"></td>
							</tr>
							<tr>
								<th>Apellido Paterno</th>
								<td th:text="${cuotaBuscado.socioCuota.getApellidoPaterno()}"></td>
							</tr>
							<tr>
								<th>Rut</th>
								<td th:text="${cuotaBuscado.socioCuota.getRutSocio()}"></td>
							</tr>
							
							
							
							
							
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="footer"></div>
</body>
</html>