<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Ver Socios </title>

<!-- Bootstrap -->


<link rel="stylesheet" type="text/css" th:href="@{/css/listar.css}" />
<link rel="stylesheet"
	th:href="@{/webjars/bootstrap/4.1.0/css/bootstrap.min.css}" />
<script type="text/javascript"
	th:src="@{/webjars/bootstrap/4.1.0/js/bootstrap.min.js}"></script>
<script type="text/javascript"
	th:src="@{/webjars/jquery/3.3.1-1/jquery.min.js}"></script>


</head>
<body>

	<div th:insert="navbar">...</div>

	<div class="container">
		<nav aria-label="breadcrumb"><!--MIGAS DE PAN-->
    <ol class="breadcrumb bg-white pl-0">
      <li class="breadcrumb-item"><a  href="/">Inicio </a></li>
      <li class="breadcrumb-item"><a  th:href="@{/socio/}">Socios </a></li>
      <li class="breadcrumb-item active" aria-current="page"> Ver Socio</li>
    </ol>
  </nav><!--FIN MIGAS DE PAN-->
	</div>
	<div class="container">

		<div class="row">
			<div class="col-md-12">
				<h2 th:if="${socioBuscado == null || socioBuscado.idSocio==0}">No
					se pudieron obtener los datos del socio</h2>
				<div th:if="${socioBuscado!=null && socioBuscado.idSocio !=0}"
					class="container">
					<h2>Ver Socio</h2>
					<table class="table table-hover table-sm">
						<thead>
							<tr>
								<th>Atributo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>

							<tr>
								<th>Rut</th>
								<td th:text="${socioBuscado.rutSocio}"></td>
							</tr>
							<tr>
								<th>Nombre</th>
								<td
									th:text="|${socioBuscado.nombreSocio} ${socioBuscado.apellidoPaterno} ${socioBuscado.apellidoMaterno}"></td>
							</tr>
							<tr>
								<th>Teléfono</th>
								<td th:text="${socioBuscado.telefonoSocio}"></td>
							</tr>
							<tr>
								<th>Dirección</th>
								<td th:text="${socioBuscado.direccionSocio}"></td>
							</tr>
							<tr>
								<th>Email</th>
								<td th:text="${socioBuscado.emailSocio}"></td>
							</tr>
							<tr>
								<th>Fecha Nacimiento</th>
								<td th:text="${#dates.format(socioBuscado.fechaNacimientoSocio,'dd-MM-yyyy')}" ></td>
							</tr>
							<tr>
								<th>Género</th>
								<td th:text="${socioBuscado.generoSocio}"></td>
							</tr>
							<tr>
								<th>Categorías</th>
								<td><span
									th:each="categoria,i : ${socioBuscado.categorias}"
									th:text='| [ ${i.count}. ${categoria.nombreCategoria} - ${categoria.deporteCategoria.nombreDeporte} ] |'>
								</span></td>
							</tr>

						</tbody>
					</table>

					<div th:if="${socioBuscado.tutor!=null}">
						<h3 th:text="|Datos del tutor|"></h3>
						<table class="table table-hover table-sm">
							<thead>
								<tr>
									<th>Atributo</th>
									<th>Valor</th>
								</tr>
							</thead>
							<tbody>

								<tr>
									<th>Rut</th>
									<td th:text="${socioBuscado.tutor.rutTutor}"></td>
								</tr>
								<tr>
									<th>Nombre</th>
									<td
										th:text="|${socioBuscado.tutor.nombreTutor} ${socioBuscado.tutor.apellidoPaternoTutor} ${socioBuscado.tutor.apellidoMaternoTutor}"></td>
								</tr>
								<tr>
									<th>Teléfono</th>
									<td th:text="${socioBuscado.tutor.telefonoTutor}"></td>
								</tr>
								<tr>
									<th>Dirección</th>
									<td th:text="${socioBuscado.tutor.direccionTutor}"></td>
								</tr>
								<tr>
									<th>Email</th>
									<td th:text="${socioBuscado.tutor.emailTutor}"></td>
								</tr>
								<tr>
									<th>Fecha Nacimiento</th>
									<td th:text="${socioBuscado.tutor.fechaNacimientoTutor}"></td>
								</tr>
						</table>

					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="footer"></div>
</body>
</html>