<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<title>Ver categoría</title>

<!-- Bootstrap -->

<link rel="stylesheet" type="text/css" href="/css/listar.css" />
<link rel="stylesheet"
	href="/webjars/bootstrap/4.1.0/css/bootstrap.min.css" />
<script type="text/javascript"
	src="/webjars/bootstrap/4.1.0/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="/webjars/jquery/3.3.1-1/jquery.min.js"></script>

</head>
<body>

	<div th:insert="navbar">...</div>
	
	<div class="container">
	
		<div class="row">
			<div class="col-md-12">
				<h2
					th:if="${socioBuscado == null || socioBuscado.idSocio==0}">No
					se pudieron obtener los datos del socio</h2>
				<div
					th:if="${socioBuscado!=null && socioBuscado.idSocio !=0}"
					class="container">
					<h2>Ver Socio</h2>
					<table id="example" class="table table-hover">
						<thead>
							<tr>
								<th>Atributo</th>
								<th>Valor</th>
							</tr>
						</thead>
						<tbody>
							
							<tr>
								<th>Rut</th>
								<td th:text="${socioBuscado.rutSocio}"></td>
							</tr>
							<tr>
								<th>Nombre(s)</th>
								<td th:text="${socioBuscado.nombreSocio}"></td>
							</tr>
							<tr>
								<th>Apellido Paterno</th>
								<td th:text="${socioBuscado.apellidoPaterno}"></td>
							</tr>
							<tr>
								<th>Apellido Materno</th>
								<td th:text="${socioBuscado.apellidoMaterno}"></td>
							</tr>
							<tr>
								<th>Teléfono</th>
								<td th:text="${socioBuscado.telefonoSocio}"></td>
							</tr>
							<tr>
								<th>Dirección</th>
								<td th:text="${socioBuscado.direccionSocio}"></td>
							</tr>
							<tr>
								<th>Email</th>
								<td th:text="${socioBuscado.emailSocio}"></td>
							</tr>
							<tr>
								<th>Fecha Nacimiento</th>
								<td th:text="${socioBuscado.fechaNacimientoSocio}"></td>
							</tr>
							<tr>
								<th>Género</th>
								<td th:text="${socioBuscado.generoSocio}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div th:insert="footer"></div>
</body>
</html>